[submodule "submodules/XStandard"]
	path = submodules/XStandard
	url = https://github.com/PlatinumMaster/XStandard
[submodule "submodules/RPMAuthoringTools"]
	path = submodules/RPMAuthoringTools
	url = https://github.com/PlatinumMaster/RPMAuthoringTools
[submodule "submodules/PokeScript"]
	path = submodules/PokeScript
	url = https://github.com/PlatinumMaster/PokeScript
